/********** Template CSS **********/
:root {
    --primary: #a5a5a5;
    --light: #F8F8F8;
    --dark: #252525;
}
h1,
h2,
.h1,
.h2,
.fw-bold {
    font-weight: 600 !important;
}

h3,
h4,
.h3,
.h4,
.fw-medium {
    font-weight: 500 !important;
}

h5,
h6,
.h5,
.h6,
.fw-normal {
    font-weight: 400 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}
.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn-outline-body {
    color: var(--primary);
    border-color: #252525;
}

.btn-outline-body:hover {
    color: #FFFFFF;
    background: var(--primary);
    border-color: var(--primary);
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 30px 0;
    color: var(--dark);
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color:#8b1411;
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.owl-carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .5);
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 16px !important;
    }
}

.header-carousel .owl-dots {
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dots .owl-dot {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 5px 0;
    background: var(--dark);
    transition: .5s;
}

.header-carousel .owl-dots .owl-dot.active {
    width: 60px;
    height: 60px;
}

.header-carousel .owl-dots .owl-dot img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2px;
    transition: .5s;
    opacity: .3;
}

.header-carousel .owl-dots .owl-dot.active img {
    opacity: 1;
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
}


/*** Facts ***/
.fact-item .fact-icon {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 120px;
    transition: .5s;
}

.fact-item:hover .fact-icon {
    background: var(--dark);
}



.fact-item .fact-icon i {
    color: var(--primary);
    transition: .5;
}

.fact-item:hover .fact-icon i {
    color: #FFFFFF;
}


/*** About & Feature ***/
.about-img,
.feature-img {
    position: relative;
    height: 100%;
    min-height: 400px;
}

.about-img img,
.feature-img img {
    position: absolute;
    width: 60%;
    height: 80%;
    object-fit: cover;
}

.about-img img:last-child,
.feature-img img:last-child {
    margin: 20% 0 0 40%;
}

.about-img::before,
.feature-img::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    border: 5px solid var(--primary);
    z-index: -1;
}


/*** Service ***/
.service-item .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.service-item .service-text {
    background: var(--light);
    transition: .5s;
}

.service-item:hover .service-text {
    background: rgba(0, 0, 0, .7);
}

.service-item * {
    transition: .5;
}

.service-item:hover * {
    color: #FFFFFF;
}

.service-item .btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    color: var(--dark);
    background: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
}

.service-item:hover .btn {
    width: 140px;
}


/*** Project ***/
.project .nav .nav-link {
    background: var(--light);
    transition: .5s;
}

.project .nav .nav-link.active {
    background: var(--primary);
}

.project .nav .nav-link.active h3 {
    color: #FFFFFF !important;
}


/*** Team ***/
.team-items {
    margin: -.75rem;
}

.team-item {
    padding: .75rem;
}

.team-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #FFFFFF;
    transition: .5s;
    z-index: -1;
}

.team-item:hover::after {
    height: 100%;
    background: var(--primary);
}

.team-item .team-social {
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 0;
}

.team-item .team-social .btn {
    display: inline-flex;
    margin: 0 2px;
    color: var(--primary);
    background: var(--light);
}

.team-item .team-social .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}


/*** Appointment ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.testimonial-carousel {
    display: flex !important;
    flex-direction: column-reverse;
    max-width: 700px;
    margin: 0 auto;
}

.testimonial-carousel .owl-dots {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.testimonial-carousel .owl-dots .owl-dot {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    transition: .5s;
}

.testimonial-carousel .owl-dots .owl-dot.active {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-dots .owl-dot::after {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
    background: #FFFFFF;
    border-radius: 40px;
    transition: .5s;
    opacity: 0;
}

.testimonial-carousel .owl-dots .owl-dot.active::after {
    opacity: 1;
}

.testimonial-carousel .owl-dots .owl-dot img {
    opacity: .4;
    transition: .5s;
}

.testimonial-carousel .owl-dots .owl-dot.active img {
    opacity: 1;
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 25px;
    padding: 0;
    text-align: left;
    color: #777777;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
    background: #ffffff;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
    margin-right: 10px;
    background: #ffffff;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
    background: #ffffff;
}

.footer .form-control {
    border-color: #777777;
    background: #ffffff;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
    background: #ffffff;
}

.footer .copyright a {
    color: var(--light);
    background: #ffffff;
}

.footer .copyright a:hover {
    color: var(--primary);
    background: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #ffffff;
}

ul li {
  display: block;
  position: relative;
  float: left;
  background: #9e0e0b00;
}


li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

ul li a:hover { background: #ffffff; }


li:hover > ul {
  display: block;
  position: absolute;
}

li:hover li { float: none; }

li:hover a { background: #1bc2a2; }

li:hover li a:hover { background: #2c3e50; }

.main-navigation li ul li { border-top: 0; }

ul ul ul {
  left: 100%;
  top: 0;
}

ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }



/*shop banner 슬라이드*/

/*shop banner 슬라이드*/
.banner-container{
  width:100vw;
  height:500px;
  overflow:hidden;
  margin-top:30px;
}

.banner{
  width:calc(100vw*4);
  height:100%;
  display:flex;
  animation: animation1 9s infinite;
  /*기본 전환 animation을 위한 설정*/
  -webkit-transition: all 1.5s cubic-bezier(1, .01, .32, 1);
  -moz-transition: all 1.5s cubic-bezier(1, .01, .32, 1);
  -o-transition: all 1.5s cubic-bezier(1, .01, .32, 1);
  -ms-transition: all 1.5s cubic-bezier(1, .01, .32, 1);
  transition: all 1.5s cubic-bezier(1, .01, .32, 1);
}


.banner-images{
  width:100vw;
  height:100%;   
}


@keyframes animation1 {
  0% {margin-left: 0}
  20% {margin-left: 0}
  25% {margin-left: -100%}
  45% {margin-left: -100%}
  50% {margin-left: -200%}
  70% {margin-left: -200%}
  75% {margin-left: -300%}
  95% {margin-left: -300%}
  100% {margin-left: 0}
}
@keyframes animation2 {
  0% {margin-left: -100%}
  20% {margin-left: -100%}
  25% {margin-left: -200%}
  45% {margin-left: -200%}
  50% {margin-left: -300%}
  70% {margin-left: -300%}
  75% {margin-left: 0}
  95% {margin-left: 0}
  100% {margin-left: -100%}
}
@keyframes animation3 {
  0% {margin-left: -200%}
  20% {margin-left: -200%}
  25% {margin-left: -300%}
  45% {margin-left: -300%}
  50% {margin-left: 0}
  70% {margin-left: 0}
  75% {margin-left: -100%}
  95% {margin-left: -100%}
  100% {margin-left: -200%}
}
@keyframes animation4 {
  0% {margin-left: -300%}
  20% {margin-left: -300%}
  25% {margin-left: 0}
  45% {margin-left: 0}
  50% {margin-left: -100%}
  70% {margin-left: -100%}
  75% {margin-left: -200%}
  95% {margin-left: -200%}
  100% {margin-left: -300%}
}



/*쇼핑몰 product*/

.mainname {
    font-size: 70px;
    color: #8b1411;
    margin: 40px auto; 
    text-align: center;
    border-top: 3px solid #8b1411;
    border-bottom: 3px solid#8b1411;
}


/*CHECKBOX*/

.check-name
{
   font-size:40px;   
   font-color:black;
}

.check-container {
  height: 100px;
  width: 500px;
  border: 5px solid black;
  text-align: center;
}



<style type="text/css">
/* input 숨김 */
input#check_btn{
  display:none;
  }

input#check_btn + label{
  cursor:pointer;
 }

input#check_btn + label > span{
  vertical-align: middle;
  padding-left: 5px;
 }

/* label:before에 체크하기 전 상태 CSS */
input#check_btn + label:before{
  content:"";
  display:inline-block;
  width:17px;
  height:17px;
  border:2px solid #F47C7C;
  border-radius: 4px;
  vertical-align:middle;
  }
  
  
/* label:before에 체크 된 상태 CSS */  
input#check_btn:checked + label:before{
  content:"";
  background-color:#F47C7C;
  border-color:#F47C7C;
  background-image: url('check_btn.png');
  background-repeat: no-repeat;
  background-position: 50%;
  }
  

/*-----------------------수정할거임   프로덕트*/
.category-title {
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
}
  
  .big-title {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1.5rem !important;
    
}
   
.small-title {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 3rem !important;
}
    

/*category-container */

.category-container{
   height:100px;
   width:auto;
}

.category-container> ul{
   background-color:#8b1411;
}
.category-container> ul  a:hover { background: #7e0707; }
.category-container-second {
    height: 50px;
    width: auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}









/* 프로덕트 디테일 컨테이너 스타일 */
.productdetail-container {
    display: flex;
    margin-right: 0;
    margin-left: 0;
}

/* 이미지 스타일 */
.productdetail-image {
    flex: 1; 
    padding: 20px; 
    text-align: center; 
}

.productdetail-image img {
    max-width: 100%; 
    height: auto;
}

/* 사이드 인포 스타일 */
 .productdetail-sideinfo-button {
        border-radius: 20px;
        padding: 7px 20px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
    }

.productdetail-sideinfo-button-default {
        background-color: none;
        color: #777; 
    }

.productdetail-sideinfo-button-clicked {
        background-color: #000;
        color: #fff;
    }
    
    
.productdetail-sideinfo {
    flex: 1; 
    padding: 20px; 
    background-color: #f5f5f500;
    border:3px solid #b78d6500;
}

.productdetail-sideinfo-line{
   max-width: 100%;  
    border-top: 1px solid #000; 
    margin-top: 20px; 
    margin-bottom: 40px; 
}


/* 브랜드네임 스타일 */
#productdetail-sideinfo-brandname {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    color:black;
}

/* 네임 스타일 */
#productdetail-sideinfo-name {
    font-size: 18px;
    margin-bottom: 10px;
}

/* 프라이스 스타일 */
#productdetail-sideinfo-price {
    font-size: 24px;
    font-weight: bold;
    color: #000000; 
    margin-bottom: 20px;
}

/* 사이드 인포 내용 스타일 */
#productdetail-sideinfo-content-box {
    max-width: 100%;
    height: auto;
    border-top: 1px solid #000; 
    border-bottom: 1px solid #000;
    padding: 30px;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

#productdetail-sideinfo-content {
    font-size: 16px;
    line-height: 1.5;
    width: auto;
    margin-top: 60px; 
    margin-bottom: 30px; 
}


/*배송정보*/
#productdetail-sideinfo-delivery{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    color:black;
    margin-top: 10px;
}

/*수량*/
.productdetail-quantity-container{
   max-width:100%;
   height:auto;
    background-color: #fff;
    border: 1px solid #00000047; 
    margin-left:25px;
    margin-right:25px;
     border-radius: 3px;
  margin-top:40px;
  margin-bottom:40px;
}


#productdetail-quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

#productdetail-quantity label {
    font-weight: bold;
    color: black;
    margin-right: 10px;
}

#productdetail-quantity input {
    width: 70px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-right: 10px; /* 인풋 오른쪽 여백 추가 */
}

#productdetail-quantity span {
    font-size: 9px; /* 폰트 크기를 7px로 설정 */
    margin: 0; /* 기본 마진 제거 */
}

#productdetail-quantity input:focus {
    border: 1px solid #8b1411;
}

        
#productdetail-final-price {
    margin-top: 10px; 
    margin-left: 10px;
    font-size: 20px; 
    font-weight: bold; 
    color: #8b1411;
}





.button-container {
    display: flex;
    justify-content: space-between;
}



.cart-button {
    flex: 1;
    cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.3em;
  color: rgb(0 0 0);
  border-radius: 0;
  padding: 18px 80px 20px;
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, rgb(154 18 20 / 52%), rgb(154 18 20 / 80%), rgba(34,34,34,0), rgba(34,34,34,0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0 0.625rem;
  border: 1px solid #000;
  height:80px;
}
.order-button {
    flex: 1;
    cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.3em;
  color: #fff;
  border-radius: 0;
  padding: 18px 80px 20px;
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, rgb(154 18 20 / 52%), rgb(154 18 20 / 80%), #000, #000);
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0 0.625rem;
  border: 1px solid #000;
  height:80px;
}

.cart-button:hover {
   color: #fff;
  border: 1px solid rgba(223,190,106,0);
  color: #white;
  background-position: 99% 50%;
}

.order-button:hover {
     color: #fff;
  border: 1px solid rgba(223,190,106,0);
  color: #white;
  background-position: 99% 50%;
}





/* 반응형 */
@media (max-width: 768px) {
    .productdetail-container {
        flex-direction: column; /* 화면 크기에 따라 세로로 정렬 */
    }
    
    .productdetail-image,
    .productdetail-sideinfo {
        flex: 100%; 
        padding: 10px; 
    }
}


.section-title2{

    margin: 40px auto; 
    width:auto;
    height:50px;
    line-height: 50px; 
    text-align: center;
    border-top: 3px solid #8b1411;
    border-bottom: 3px solid#8b1411;
    color:#8b1411;
   
}

#viewMoreButton {
    display: block;
    margin-left: auto; 
    padding: 10px 20px;
    font-size: 18px;
    background-color: #8b1411;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#viewMoreButton:hover {
    background-color: #0056b3; /* 버튼에 호버 효과를 추가하여 배경색 변경 */
}






/*주문페이지*/



.product-information-category {
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  padding: 10px; 
  margin: 0 auto; 
  max-width: 1400px; /* 컨테이너의 최대 너비 설정 */
  background-color: #ffffff; 
}

.product-information-content {
  border-bottom: 1px solid #111;
  padding: 30px; /* 컨테이너 안쪽 여백 설정 */
  margin: 0 auto; /* 가로 중앙 정렬 */
  max-width: 1400px; /* 컨테이너의 최대 너비 설정 */
  background-color: #ffffff; 
}



/* 제품 정보 스타일 */
.product-info {
    display: inline-block; /* 인라인 블록 요소로 표시 */
    margin-right: 20px; /* 오른쪽 마진을 추가하여 요소들 사이의 간격 조절 */
    vertical-align: top; /* 제품 정보 상단 정렬 */

    /* 추가적인 스타일을 원하는 대로 적용할 수 있습니다. */
}

/* 제품 정보 제목 스타일 */
.product-info h2 {
    font-size: 18px; /* 제목 글꼴 크기 */
    margin: 0; /* 제목의 위아래 마진 제거 */
}

/* 가격 스타일 */
.product-info p.price {
    font-weight: bold; /* 가격 텍스트를 굵게 표시 */
    margin: 0; /* 가격의 위아래 마진 제거 */
}





/*세컨드 카테고리*/
.dropdown {
  position: relative;
  display: inline-block;
  float: right; /* 버튼을 화면 오른쪽에 붙임 */
}

.dropbtn {
  font-weight: 400;
  height: 48px;
  width: 200px;
  cursor: pointer;
  font-size: 12px;
  border-left: 1px solid #000; 
  border-top: none; /* 테두리 제거 하나씩 한 이유는 부트스트랩 css때문에 */
  border-right: none;
  border-bottom: none; 
  background-color: #fff;
  
}


.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  font-weight: 400;
  background-color: #f9f9f9;
  min-width: 200px;
  right: 0;
  max-height: 200px; /* 최대 높이를 지정하고 넘치면 스크롤바 표시 */
  overflow-y: scroll; /* 세로 스크롤바를 표시 */
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  color: rgb(37, 37, 37);
  font-size: 12px;
  padding: 12px 20px;
}

.dropdown-content a:hover {
  background-color: #ececec;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}









/*샵, 베스트셀러 버튼*/
/* 버튼 스타일 */
.buttonA[type="submit"] {
    background-color:#8b1411;
    color: #fff;
    padding: 7px 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

/* 버튼 호버 효과 */
.buttonA[type="submit"]:hover {
  background-color: #A0522D; 
}











/*베스트셀러 랭크*/
.rank {
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  text-align: center;
  background: #c39f86;
}

.rank h5 {
  margin-top: 12px;
  text-align: center;
  color: #fff;
  line-height: 16px;
  font-size: 22px;
}


.rank span {
  display: inline-block;
  position: relative;
  margin-top: 8px;
  line-height: 8px;
  text-align: center;
  font-size: 8px;
}

.rank span em {
  padding-left: 12px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}





/* 오더페이지*/
/* 윗단 테이블 */
 .orderPage > .order > form {}

.orderPage > .order > form > table {
    width: calc(100% - 280px);
    margin: 0 140px;; 
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-collapse: collapse;
    border-spacing: 0;
}

.orderPage > .order > form > table tr { border-bottom: 1px solid #d3d3d3 ;font-size:15px;}

.orderPage > .order > form > table th {
    padding: 12px 0;
    background: #fff;
    color: #383838;
    font-size: 0.95em;
    text-align: center;
    letter-spacing: -0.1em;
}

.orderPage > .order > form > table .empty { display: none ;}

.orderPage > .order > form > table td { text-align: center; color: #000000; font-size:15px;}

.orderPage > .order > form > table td:last-child {
    color: #8b1411;
    font-weight: bold;
}

.orderPage > .order > form > table td > article {
    padding: 5px;
    overflow: hidden;

}

.orderPage > .order > form > table td > article > a {
    float: center;
    display: inline-block;
}

.orderPage > .order > form > table td > article > a > img { width: 90px;}

.orderPage > .order > form > table td > article > div {
    float: center;
    margin-left: 10px;
}


.orderPage > .order > form > table td > article > div > h2 { text-align: left; }

.orderPage > .order > form > table td > article > div > p {
    text-align: center;
    color: .777;
    margin-top: 4px;
}

tbody {
    margin: 0;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    color: #000;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

/*추가 분리 컨테이너 */
.orderPage-container {
    width: 100%;
    height: auto;
    display: flex; 
    margin-top: 20px;
}

.orderPage-container-section {
    flex: 2; 
    padding: 20px;
    margin-left:110px;
}

.orderPage-container-section-list{
   padding: 20px;
    margin-top:20px;
}

.orderPage-container-section-list >article>h1{
   font-size:20px;

}

.orderPage-container-section-title{
   width:auto;
   height: 30px;
   border-bottom: 2px solid #000;
   margin-bottom:10px;
   
}


.orderPage-container-section-title2{
   font-size:20px;
   font-weight: bold;
   color:#000;
   margin-left:140px;
   margin-bottom:20px;
   margin-top:60px;
}
.orderPage-container-section-title2>h1{
   font-size:25px;
   margin-top:20px;

}

.orderPage-container-section-title>h1{
   font-size:20px;
}

/*분리컨테이너 내용*/
.required {
    font-size: 11px; 
    font-weight: normal; 
}

/* 우측 섹션 컨테이너 */
.orderPage-container-remote {
    flex: 1;
    height: 100%;
    padding: 20px;
    margin-right: 110px;
     margin-top: 40px;
    background-color: #7070705e;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 100px; 
     max-width: 430px;
}

.orderPage-container-section-title2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
     margin-top: 10px;
}

.final {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.final >table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.final >table td {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.final >table td:first-child {
    font-weight: bold;
    width: 50%;
}

#btnOrder {
    display: block;
    width: 100%;
    padding: 15px 0;
    background-color: #8b1411;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto; 
    text-align: center; 
}


#btnOrder:hover {
    background-color:  #870d0a;
}
        
        
        
 /*인풋*/
input, select, optgroup, textarea {
    margin: 10px;
    padding: 8px; 
    font-family: Arial, sans-serif; 
    font-size: 13px; 
    line-height: 1.4; 
    border: 1px solid #ccc; 
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s; 
}

/* 입력할때 스타일*/
input:focus, button:focus, select:focus, textarea:focus {
    outline: none; 
    border-color: #c4a280; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[name="orderer"] {
  width:300px;
}

input[name="zip"] {
  width:300px;
}        
        
input[name="addr1"] {
  width:500px;
}        
        
input[name="addr2"] {
  width:500px;
}  
      

input[name="hp"] {
    width: 100px;
}

input[name="email"] {
    width: 200px;
}

input[name="recipient"] {
  width:300px;
}

input[name="deliverymessage"] {
  width:350px;
}


input[name="coupon"] {
  width:200px;
}

input[name="paymentChoice"] {
  width:150px;
}


#emailSelect {
    width: 430px;
}


input[name="depositor"] {
  width: 150px;
}

#bankSelect{
    width: 500px;
}

/* 배송지 선택 라디오 버튼 스타일 */
input[type="radio"] {
    width: 10px; 
    height: 10px; 
   margin-left: 20px; 
    cursor: pointer; 
    position: relative; 
}

/* 선택된 라디오 버튼 스타일 */
input[type="radio"]:checked {
    background-color: transparent; 
}

/* 강아지 얼굴 이모티콘 스타일 */
input[type="radio"]::before {
    content: "\1F436"; 
    font-family: 'Segoe UI Emoji', sans-serif; 
    position: absolute; /* 절대 위치 지정 */
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* 가운데 정렬 */
    font-size: 14px; /* 이모티콘 크기 */
    opacity: 0; /* 기본적으로 숨겨진 상태 */
}

/* 선택된 라디오 버튼를 체크했을 때 강아지 이모티콘을 나타내도록 스타일 변경 */
input[type="radio"]:checked::before {
    opacity: 1;
}



   
 /*오더완료 페이지*/
 
 .orderComplete-title{
   font-size:20px;
   font-weight: bold;
   color:#000;
   margin-bottom:20px;
   margin-top:60px;
}
 .orderPage > .complete {
 margin-left:140px;
            margin-right:140px;
 
 }
        .orderPage > .complete > article {
            margin-top: 16px;
           
        }
         .orderPage > .complete > .message {
           color: #000;
           margin-top:70px;
        
      }
        .orderPage > .complete > .message > h2 {
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            padding: 10px;
        }
    
        .orderPage > .complete > .message > p {
            font-size: 18px;
            font-weight: bold;
            padding: 10px;
            text-align: center;
           
        }
        
        
        .orderPage > .complete > article > h1 {
            font-weight: bold;
            font-size: 14px;
            color: #111;
            padding: 6px 0;
        }
        .orderPage > .complete table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            border-top: 2px solid #000;

           
        }
        
        .orderPage > .complete table tr {
            border-bottom: 1px solid #d3d3d3;
            font-size:14px;
        }
        .orderPage > .complete table tr > th {
            padding: 12px 0;
            background: #fff;
            color: #383838;
             font-size:14px;
            text-align: center;
            letter-spacing: -0.1em;
        }
        
        .orderPage > .complete > table td > article > a > img { width: 90px;}
        /* 주문정보 */
        .orderPage > .complete > .orderer table tr > td {
            padding: 10px;
            box-sizing: border-box;
        }
        .orderPage > .complete > .orderer > table tr > td:nth-child(1) {
            width: 160px;
            background: #f2f2f2;
        }
        .orderPage > .complete > .orderer table tr > td:nth-child(2) {
            width: auto;
        }
        .orderPage > .complete > .orderer table tr > td:nth-child(3) {
            width: 100px;
            text-align: right;
            vertical-align: top;
            background: #f2f2f2;
        }
        .orderPage > .complete > .orderer table tr > td:nth-child(4) {
            width: 100px;
            text-align: right;
            vertical-align: top;
            background: #f2f2f2;
        }
        .orderPage > .complete > .orderer table span {
            font-weight: bold;
            color: #ff006c;
        }
   /* 배송정보 */
        .orderPage > .complete > .delivery table tr > td:nth-child(1) {
            width: 160px;
            background: #f2f2f2;
        }
        .orderPage > .complete > .delivery table tr > td {
            padding: 10px;
            box-sizing: border-box;
        }
        .orderPage > .complete > .delivery table tr > td:nth-child(3) {
            width: 200px;
            background: #f2f2f2;
        }
      
        .orderPage > .complete > .alert {
            width: 100%;
            background-color: #f7f7f7;
            padding: 30px;
            color: #999;
            box-sizing: border-box;
             margin-top:50px;
        }
        .orderPage > .complete > .alert > h1 {
            margin-left: -12px;
        }
        .orderPage > .complete > .alert > ul {
          background-color:#f7f7f7;
        }

        .orderPage > .complete > .alert > ul > li > span {                   
          font-size:14px;
          background-color:#c41b1b14;
        }
tbody {
    margin: 0;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    color: #000;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

/*오더complete버튼*/
.custom-btn-style {
    display: inline-block;
    padding: 5px 20px;
    background-color: #ffffff;
    color: black; 
    border: 2px solid #B78D65;
    border-radius: 5px; 
    font-size: 16px;
    text-align: center;
    cursor: pointer;
     margin-right: 10px; 
}

.custom-btn-style:hover {
        color:#fff;
    background:#8b1411;
    border-color:#8b1411;
}
.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5; /* 원하는 높이 값으로 변경하세요 */
}
.article-custom{
    padding: 6px;
    overflow: hidden;
    box-sizing: border-box;
}
.orderPage > .complete > table td {
text-align: center;
    color: #000000;
    font-size: 15px;
}
.div-custom{
    float: center;
    margin-left: 5px;
 margin-top: 10px;
 }
 .img-custom{
 width: 80px;
 float: left;
 }

/*디테일프로덕트 아랫단 상세*/
.detail-ul {
    padding: 10px;
    background-color: #ffffff;
    border-top: 1px solid #8989894a;
    border-bottom: 1px solid #8989894a;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top:40px;
  
}

.detail-dropbtn {
      font-weight: 400;
   height: 40px;
   width: 200px;
   cursor: pointer;
   font-size: 15px;
   border: none; 
   background-color: #fff; 
   margin-left: 50px;
  margin-top:20px;
}

.detail-dropbtn-click {
    font-weight: bold;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    padding: 7px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}
.detailImage{
   width:70%;
   height:100%;
   margin: auto;
   margin-top: 30px;
    display: block;
   }
   

.detail-reviews-title {
    width: auto;
    height: 40px;
    border-bottom: 3px solid #000;
    margin-bottom: 40px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 40px;
    font-size: 25px;
    font-color: #000000;
    font-weight: bold;
}



   
   
   
/* 리뷰*/

#review-rating {
    height: 100px;
    width: auto;
    display: flex;
}

/* 평점 부분*/
#review-rating-star {
    flex: 1; /* .review-rating의 사분의 일 */
    margin-left:180px;
    padding:20px;
    border-right:1px solid #000;
  
  

}

#review-rating-star>p{
   height:23px;
   width:100px;
   background-color: beige;
    border-radius:5px;
    font-size:11px;
  text-align:center;
  margin-top:10px;
  padding:3px;
}


/*글 부분 */
#review-rating-rate {
    flex: 4; /* .review-rating의 나머지 부분 */
   margin-left:40px;
     display: flex;
     align-items: center; /* 세로 방향 가운데 정렬 */
}

#review-rating-rate>h6 {
   font-size:13px;
    font-weight: bolder; 
}

#review-rating-rate>p {
   font-size:10px;
}

#review-rating-rate h6,
#review-rating-rate>p,
#review-rating-rate .bar {
    display: inline-block;
    vertical-align: middle; /* 요소를 수직으로 가운데 정렬 */
     margin-right: 30px;
}



.bar {
    width: 250px; 
    height: 15px; 
    background-color: #f1f1f1; 
    border-radius: 20px; 
    display: flex;
    align-items: center;
    overflow: hidden; 
}

.bar-fill {
    background-color: #000000; /* 채우기 색상 */
    height: 100%; /* 막대 그래프의 높이를 100%로 채움 */
}

.review-content{
     display: flex;
   height:auto;
   margin-left:140px; 
   margin-right:140px;
   margin-top:30px; 
   border-top:2px solid #d6d6d6;
}

#review-content-user{
   flex: 1;
   height:350px;
    margin-top:30px; 
   background-color: #f1f1f15e;
}

#review-content-user>p{
   font-size:15px;
}

#review-content-text {
  flex: 3;
  max-height: 1000px; 
  overflow: hidden;
  margin-top: 30px;
}


#review-content-image{
    width: 200px; 
     height: 200px; 
}


.text-wrapper {
   margin-left:20px;
}

#text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-align: justify;
    font-size: 13px;
    margin-top: 20px;
}

#more-text {
    font-size: 12px;
    color:#000;
    cursor: pointer;
    float: right;
}

#less-text {
   font-size: 12px;
    color:#000;
    cursor: pointer;
    display: none;  
    float: right;  

}


/* 모달 창 스타일 */
.modal {
    display: none; /* 초기에 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content {
    background-color: #93100dc2;
    margin: 20% auto;
    padding: 40px;
    border-radius: 5px;
    width: 350px;
    height:150px;
    text-align: center;
    position: relative;
  
}
.modal-content>p {
   font-size:14px;
   color: #ffffff !important;
   
}

.modal-content >span> button{
   border: 3px solid #daffe34f;
  border-radius:3px;
   font-size:14px;
    margin-right:3px;
    margin-left:3px;
  color:#8b1411;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}






/*룰렛*/
.roulette {
  position: relative;
  width: 400px;
  height: 400px;
}
.roulette-bg {
  position: absolute;
  top: 55%;
  left: 63%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 450px;
  border-radius: 350px;
  overflow: hidden;
}

.roulette-wacu {
  height: 100%;
  background: #f1f1e5
    url("/resources/images/shop/룰렛-removebg-preview.png")
    no-repeat;
  background-size: 125%;
  background-position:center;
  transition-timing-function: ease-in-out;
  transition: 2s;
  
}
.roulette-arrow {
  position: absolute;
  top: 65%;
  left: 63%;
  transform: translateX(-50%);
  width: 1px;
  height: px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 40px solid #b40707;
  border-bottom: 0px solid transparent;
  padding:
}

.roulette-btn {
  position: absolute;
  top: 55%;
  left: 63%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  border-radius: 80px;
  background: #fff;
  border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
  border: 4px solid #8b1411;
}

.hidden-input {
  display: none;
}



/* 룰렛모달 스타일 */
 .rouletteModal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.rouletteModal-content {
    background-color: #c09974;
    margin: 15% auto;
    padding: 35px;
    border: 3px solid #ffffff;
    height: 600px;
    width: 580px;
    max-width: 600px;
    position: relative;
}
.rouletteModal-content>p{
  font-size: 40px;
  font-weight:bold;
  margin-left:100px;
  color:#ffffff !important;
  
}

.rouletteModal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}



/*카트페이지 cartPage*/
#cart-title {
    background-color: #8b1411;
    color: #fff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
     margin-bottom: 30px;
}



.cartList {
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    align-items: center; /* 세로 정렬 */
    justify-content: center; /* 가로 정렬 */
}



/* 테이블 스타일 */
.cartList table {
   width: calc(100% - 280px);
    margin: 0 140px;; 
    margin-bottom: 30px;
    margin-top: 10px;
    border-collapse: collapse; /* 테이블 셀 간격을 없앰 */
}



.cartList th, .cartList td {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-left: none; 
    border-right: none;
   font-size:14px;
}





.cartList th, .cartList td {
    padding: 10px;
    text-align: center;
}



.cartList th {
    background-color: #fff;
}


.cartList .select-checkbox input[type="checkbox"] {
    margin: 0;
}


.cartList .select-checkbox label {
    font-weight: bold;
}


.cartList td img {
    width: 100px; 
    height: auto; 
}


.cartList td img {
    display: inline-block; 
    visibility: visible;
}

/* 행 hover 효과 */
.cartList tr:hover {
    background-color: #f5f5f5;
}

/*삭제버튼*/
.button-container-cart {
    height:100px;
    text-align:left;
    margin-left:140px;
     
}

#deleteButton,#deleteButton-all {
    background-color: #ffffff;
    color: #000000;
   border: 1px solid #bfbfbf;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 12px;
   margin-left:10px;
  
    text-align: center;

}
/* 페이징 버튼 */
.paging {
    display: flex;
    justify-content: flex-end; 
    margin-left:1200px;

}

.paging .page-item {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.paging .page-link {
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

.paging .page-link:hover {
    text-decoration: underline;
}

.button-container-cart,
.paging {
    display: inline-block;
    margin-bottom: 10px;
}


#deleteButton:hover,#deleteButton-all:hover {
    background-color: #989494;
}

  #selectAllCheckbox {
        
        float: left;
    }
    #selectAllCheckbox+label {
         padding: 10px;
    	text-align: center;
        float: left;
    }
    
    
  .cartList td strong {
    font-weight: bold;
    color: #8b1411;
}
    
/*총결제*/    
.total-container-cart {
    height: 170px;
    width: 1200px;
    border: 1px solid #000;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label{
	font-size:15px;
    margin-right:40px;
   margin-left:40px;
    text-align:center;	
}

.box-txt{
   font-size:20px;
   font-weight: bold; 
   color: #000;
   text-align: center;
}



.box-txt2 {
  font-size: 20px;
  width: auto;
  height: 40px;
  background-color: #9e0e0b2b;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  color: #000;
  font-weight: bold; 
}



/*주문버튼*/
.totalbutton-container {
	 display: flex;
    justify-content: center; 
    align-items: center;
    margin-top:40px;
     margin-bottom:50px;
}

#orderButtonAll {
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.3em;
  color: #fff;
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, rgb(154 18 20 / 52%), rgb(154 18 20 / 80%), #000, #000);
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0 0.625rem;
  border: 1px solid #000;
  height:80px;
   width:300px;
}

#orderButton {
   cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.3em;
  color: rgb(0 0 0);
  border-radius: 0;
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, rgb(154 18 20 / 52%), rgb(154 18 20 / 80%), rgba(34,34,34,0), rgba(34,34,34,0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0 0.625rem;
  border: 1px solid #000;
  height:80px;
  width: 300px;
}



#orderButton:hover {
   color: #fff;
  border: 1px solid rgba(223,190,106,0);
  color: #white;
  background-position: 99% 50%;
}

#orderButtonAll:hover {
     color: #fff;
  border: 1px solid rgba(223,190,106,0);
  color: #white;
  background-position: 99% 50%;
}







/* 서치 바, 버튼 스타일 */
.search-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.search-input {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 50px; 
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); 
}

.search-input::placeholder {
  color: #ccc;
}

.search-input:focus {
  background-color: #f0f0f0; 
}

.search-button {
  padding: 10px 20px;
  background-color:#8b1411;
  color: #fff;
  border: none;
  border-radius: 50px; 
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); 
}
.search-button:hover {
  background-color: #561414;
}


/*shop 아이콘 카테고리*/
.main_category_direct {
    margin-top: 52px
}

.main_category_direct .category_direct_list {
    display: flex;
    justify-content: center
}

.main_category_direct .category_direct_list .category_direct_item {
    position: relative;
    width: 80px;
    margin: 0 20px
}

.main_category_direct .category_direct_list .category_direct_item a:hover p {
    color: #222
}

.main_category_direct .category_direct_list .category_direct_item a:hover .new {
    color: #fff
}

.main_category_direct .category_direct_list .category_direct_item img {
    width: 80px;
    height: 80px;
    border-radius: 32px
}

.main_category_direct .category_direct_list .category_direct_item p {
    width: 100%;
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #222;

    white-space: nowrap;
    text-overflow: ellipsis
}

.main_category_direct .category_direct_list .category_direct_item .new {
    display: flex;
    position: absolute;
    top: -2px;
    right: -2px;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.38;
    text-align: center;
    color: #fff;
    background-color: #f52644
}


/*리뷰 별점*/
/* 스크롤 가능한 리뷰 내용 입력란 */
#reviewContent {
    width: 400px;
    height: 200px;
    overflow-y: auto;
    text-align: center;
    margin: 0 auto; 
}

/* 리뷰 폼 스타일 */
.review-form {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 30px;
}

.star_rating {
    font-size: 35px;
    margin-bottom: 20px;
}

.star {
    cursor: pointer;
}

.star.selected {
    color: gold; /* 별점 클릭 시 색상 변경 */
}

.review-button {
    background-color: #8b1411;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 리뷰 페이지 전체 스타일 */
.review-body {
    text-align: center;
    margin-top: 20px;
    background-color: #f7f7f7;

}

#review-title {
    background-color: #8b1411;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
}












#myform fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#myform fieldset legend{
    text-align: right;
}
#myform input[type=radio]{
    display: none;
}
#myform label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#myform label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#reviewContents {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}




